<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="org.workat.workat_project.picture.entity.PlacePictureVO" alias="PlacePictureVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.review.entity.ReplyVO" alias="ReplyVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.review.entity.ReviewVO" alias="ReviewVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.place.entity.PlaceVO" alias="PlaceVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.reservation.entity.ReservationVO" alias="ReservationVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.user.entity.UserVO" alias="UserVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.user.entity.UserDetailDTO" alias="UserDetailDTO"></typeAlias>
        <typeAlias type="org.workat.workat_project.review.entity.StarPointDTO" alias="StarPointDTO"></typeAlias>
        <typeAlias type="org.workat.workat_project.payment.entity.PaymentDTO" alias="PaymentDTO"></typeAlias>
        <typeAlias type="org.workat.workat_project.payment.entity.PaymentVO" alias="PaymentVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.room.entity.RoomVO" alias="RoomVO"></typeAlias>
        <typeAlias type="org.workat.workat_project.reservation.entity.ReservationListDTO" alias="ReservationListDTO"></typeAlias>
    </typeAliases>
</configuration>