<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.workat.workat_project.partner.repository.PartnerReserveMapper">
	
	<select id="getReserveList"
		resultType="org.workat.workat_project.partner.entity.PartnerReserveVO">
		select
			 p.place_id
			 , r.res_id
			 , r.res_name
			 , r.check_in
			 , r.res_cancel_yn
			 ,r.check_out
			 , r.res_message
			 , u.user_tel
			 , room.room_name 
		from
			place p inner join reservation r
		 	on p.place_id = r.place_id
		 	left join `room` room 
		 	on r.room_id = room.room_id   
			left join `user` u 
			on r.user_id = u.user_id 
		where p.user_id  = '133'
	</select>

	<select id="getReserveDetail"
		resultType="org.workat.workat_project.partner.entity.PartnerReserveVO">

		select
			 p.place_id
			 , r.res_id
			 , r.res_name
			 , r.check_in
			 , r.res_cancel_yn
			 ,r.check_out
			 , r.res_message
			 , u.user_tel
			 , room.room_name 
		from
			place p inner join reservation r
		 	on p.place_id = r.place_id
		 	left join `room` room 
		 	on r.room_id = room.room_id   
			left join `user` u 
			on r.user_id = u.user_id 
		where
			 p.user_id  = '133'
		and
			r.res_id = #{res_id}
	</select>

<select id="findAll" resultType="org.workat.workat_project.partner.entity.PartnerReserveVO">
		select	
			 p.place_id
			 , r.res_id
			 , r.res_name
			 , r.check_in
			 , r.res_cancel_yn
			 ,r.check_out
			 , r.res_message
			 , u.user_tel
			 , room.room_name 
		from
			place p inner join reservation r
		 	on p.place_id = r.place_id
		 	left join `room` room 
		 	on r.room_id = room.room_id   
			left join `user` u 
			on r.user_id = u.user_id 
		where
			 p.user_id  = '133'
		limit #{limit}
		offset #{offset}

</select>


<select id="findByNameContaining" resultType="org.workat.workat_project.partner.entity.PartnerReserveVO">
		select	
			 p.place_id
			 , r.res_id
			 , r.res_name
			 , r.check_in
			 , r.res_cancel_yn
			 ,r.check_out
			 , r.res_message
			 , u.user_tel
			 , room.room_name 
		from
			place p inner join reservation r
		 	on p.place_id = r.place_id
		 	left join `room` room 
		 	on r.room_id = room.room_id   
			left join `user` u 
			on r.user_id = u.user_id 
		where 
			p.user_id  = '133'
		AND 
			r.res_name like concat('%', #{search} , '%')
		limit #{limit}
		offset #{offset}

</select>

<select id="count" resultType="int">
		select	
			count(*)
		from
			place p inner join reservation r
		 	on p.place_id = r.place_id
		 	left join `room` room 
		 	on r.room_id = room.room_id   
			left join `user` u 
			on r.user_id = u.user_id 
		where 
			p.user_id  = '133'

</select>


<select id="countByNameContaining" resultType="int">
		select	
			 count(*)
		from
			place p inner join reservation r
		 	on p.place_id = r.place_id
		 	left join `room` room 
		 	on r.room_id = room.room_id   
			left join `user` u 
			on r.user_id = u.user_id 
		where 
			p.user_id  = '133'
		AND 
			r.res_name like concat('%', #{search} , '%')

</select>
	


</mapper>