<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.workat.workat_project.payment.repository.PaymentMapper">

    <insert id="saveTempPayment" parameterType="PaymentDTO">
        insert
        into payment
        (payment_id,
         res_id,
         amount,
         order_name)
        values (#{orderId},
                #{res_id},
                #{amount},
                #{orderName})
    </insert>

    <update id="updatePaymentFail" parameterType="PaymentVO">
        update payment
        set paySuccessYN = #{paySuccessYN},
            failReason   = #{failReason}
        where payment_id = #{payment_id}
    </update>

    <update id="updatePaymentSuccess">
        update payment
        set paySuccessYN = #{paySuccessYN},
            paymentKey   = #{paymentKey}
        where payment_id = #{payment_id}

    </update>

    <update id="updatePaymentCancel">

        update payment
        set cancelReason = #{cancelReason},
            cancelYN   = #{cancelYN}
        where payment_id = #{payment_id}

    </update>

    <select id="findPaymentById" resultType="PaymentVO">
        select *
        from payment
        where payment_id = #{orderId}
    </select>
    <select id="findPaymentKeyByReservationId" resultType="java.lang.String">
        select
            paymentKey
        from payment
        where
            res_id = #{reservationId}
    </select>
    <select id="findPaymentByPaymentKey" resultType="org.workat.workat_project.payment.entity.PaymentVO">
        select
            *
        from payment
        where
            paymentKey = #{paymentKey}
    </select>
</mapper>