<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.workat.workat_project.place.repository.PlaceMapper">
    <select id="getMainViewPlaceList" resultType="org.workat.workat_project.place.entity.PlaceListDTO">
    	SELECT p.place_id, p.place_nm, pp.picture_source  FROM place p, place_picture pp where p.place_id = pp.place_id ;
    </select>

    <select id="getPlaceInfo" resultType="org.workat.workat_project.place.entity.PlaceVO">
        select
            *
        from
            place
        where
            place_id = #{placeId}
    </select>
</mapper>