<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.workat.workat_project.review.repository.ReviewMapper">

    <insert id="insertUserReview" parameterType="org.workat.workat_project.review.entity.ReviewInsertDTO" useGeneratedKeys="true" keyProperty="review_id">
        INSERT INTO review (res_id,
                                 rating,
                                 content,
                                 user_id,
                                 place_id
                                 )
        VALUES (#{res_id},
                #{rating},
                #{content},
                #{user_id},
                #{place_id}
                )
    </insert>

    <update id="updateReviewInfo" parameterType="org.workat.workat_project.review.entity.ReviewInsertDTO">
        UPDATE review
        SET
            content = #{content},
            rating = #{rating}
        WHERE
            review_id = #{review_id}
    </update>
    <delete id="deleteUserReview">
        update
        review
        set
            status = "inactive"
        where
            review_id = #{reviewId}
    </delete>

    <select id="getReviewInfo" resultType="org.workat.workat_project.review.entity.ReviewVO">
        select
            *
        from review
        where place_id = #{placeId}
        and status = "active"
    </select>

    <select id="getReply" resultType="org.workat.workat_project.review.entity.ReplyVO">
        select *
        from reply
        where review_id = #{reviewId}
    </select>

    <select id="getStarPointEach" resultType="StarPointDTO">
        SELECT rating, COUNT(*) AS count
        FROM review
        WHERE place_id = #{placeId}
        and status = "active"
        GROUP BY rating;
    </select>

    <select id="getUserReviewList" resultType="ReviewListDTO">
        SELECT
          r.review_id,
          r.res_id,
          r.rating,
          u.user_nm,
          p.place_nm,
          p.place_in,
          p.place_out,
          p.category AS placeCategory,
          r.created_date AS reviewCreatedDate
        FROM
          review r
        JOIN
          user u ON r.user_id = u.user_id
        JOIN
          place p ON r.place_id = p.place_id
        WHERE
         u.user_email = #{mail}
        AND
            r.status = "active";
    </select>

    <select id="getUserReviewInfo" resultType="org.workat.workat_project.review.entity.ReviewVO">
        select
            *
        from review
        where
            review_id = #{reviewId}
    </select>

    <select id="getReviewByIdAndReservation" resultType="org.workat.workat_project.review.entity.ReviewVO">
        select
            *
        from
            review
        where
            user_id = #{userId}
        and
            res_id = #{reservationId}
    </select>

    <select id="getUserReviewInfo" resultType="org.workat.workat_project.review.entity.ReviewVO">
        select
            *
        from review
        where
            review_id = #{reviewId}
    </select>

    <select id="getReviewByIdAndReservation" resultType="org.workat.workat_project.review.entity.ReviewVO">
        select
            *
        from
            review
        where
            user_id = #{userId}
        and
            res_id = #{reservationId}
    </select>

</mapper>